body {
    background-color: #F9FAFC;
}

.header-container {
    height: 80vh;

    background: url('../images/home-page.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.book-list {
    height: auto;

    background: url('../images/book-list.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
 
    background-size: cover;
 
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.book-title {
    mix-blend-mode:lighten;
    color: white;
}

.book-synopsis {
    overflow-y: scroll;
    height: 600px;
}

.site-name {
    font-family: 'Fredericka the Great', Courier;
    color: white;
    font-size: 120px;
    mix-blend-mode:lighten;
}

@media screen and (max-width: 576px) {

    .site-name {
        font-size: 80px;
    }
}

.genre-name {
    font-family: 'Fredericka the Great', Courier;
    color: white;
    font-size: 40px;
    mix-blend-mode:lighten;

}

.book-detail-bg {
    height: auto;

    background: url('../images/book-detail.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    background-size: cover;

    position: relative;

}

.book-detail-content {
    color: white;
    mix-blend-mode: lighten;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    /* border: #23BBBB, 2px;
    border-radius: 95%; */
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.book-link {
    text-decoration: none;
    color: #445261;
}

.book-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}
