{% extends "base.html" %}

{% block content %}
    <!-- Displays the landing page -->
    <!-- Page Header -->
    <header class="header-container">
        <div class="opaque-overlay">&nbsp;</div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <section>
                <h1 class="site-name">Book Central</h1>
              </section>
            </div>
          </div>
        </div>
      </header>


  {% endblock %}