{% extends "base.html" %}

{% block content %}

    <!-- Page Header -->
    <header class="header-container">
        <div class="opaque-overlay">&nbsp;</div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <section>
                <h1 class="site-name">Book Central</h1>
                <span class="subheading"></span>
              </section>
            </div>
          </div>
        </div>
      </header>
  <h3>Welcome to Book Central</h3>


  {% endblock %}